[submodule "predictor"]
	path = predictor
	url = https://github.com/Stefano-UA/Predictor-UA
[submodule "acquisitor"]
	path = acquisitor
	url = https://github.com/Stefano-UA/Acquisitor-UA
[submodule "orquestrator"]
	path = orquestrator
	url = https://github.com/Stefano-UA/Orquestrator-UA
